
<div class= "tasks_page">
    <h1>Users
        &nbsp
        <% if current_user.admin %>
          <%= link_to 'Create User', new_user_path, class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </h1>

    <hr>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to ("#{user.first_name} #{user.last_name}"), user_path(user) %></td>
          <td><% if current_user.is_co_project_with?(user) || current_user.admin %>
            <%= mail_to user.email %>
          <% end %></td>
          <td><% if current_user == user || current_user.admin %>
            <%= link_to 'Edit', edit_user_path(user), class: "pull-right" %>
          <% end %></td>
      <% end %>
        </tr>
    </tbody>
  </table>



    <br>
    <br>
    <br>
    <br>

</div>
