<% if error_for.errors.any? %>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-4 alert alert-danger" role="alert">
      <p><strong><%= pluralize(error_for.errors.count, "error") %> prohibited this task from being saved:</strong></p>
      <ul>
        <% error_for.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
