
<div class="container">
  <div class="jumbotron" style= "padding-left: 450px">
    <div class="container gCamp" style= "padding-bottom:40px">
      <h1>gCamp</h1>
      <p>Your life, organized.</p>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->

    <div class="col-md-4">
      <img class= "img-responsive" src="https://farm4.staticflickr.com/3821/9232183203_859067da50_n.jpg" />
      <h2>Tasks</h2>
      <p>Grouped by projects and lists.  Just the way you like'em </p>
    </div>

    <div class="col-md-4">
      <img class= "img-responsive" src="https://farm9.staticflickr.com/8538/8864977481_713b7cbda5_n.jpg" />
      <h2>Documents</h2>
        <ul>
        <li>Upload</li>
        <li>Comment</li>
        <li>Revise</li>
        </ul>
   </div>

    <div class="col-md-4">
      <img class= "img-responsive" src="https://farm8.staticflickr.com/7344/9216004446_0c33b47100_n.jpg" />
      <h2>Comments</h2>
        <ul>
        <li>Comment on tasks and documents</li>
        <li>Get email notifications</li>
        </ul>
    </div>
</div>

<div class="container">
  <br></br>

  <% quotes= ["We owe a lot to Thomas Edison - if it wasn't for him, we'd be watching television by candlelight. -Milton Berle", "The higher a monkey climbs, the more you see of its behind. -Joseph Stilwell", "I think it's wrong that only one company makes the game Monopoly. -Steven Wright"]
  %>

  <% quotes.each do |quote| %>
    <p><%= quote %></p>
  <% end %>

</div>
