/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h2, h3 {
  font-size: 60px;
}

.image-responsive {
  width: 100%;
  height: auto;
}

.panel {
  height: 130px;
}

.tasks_page {
  padding-left: 0px;
  padding-right: 0px;
}

p#notice {
  background-color: lightgreen;
  width: 103%
}

.left_footer {
  padding-top: 10px;
  display: inline-block;
}

.auth-button {
  margin-top: 10px;
}

ul.navbar-brand {
  a {color: white;
  }
}
